<!-- Assimilate Game Website -->
<!-- Single Page Application -->
<!-- Stephen Shiao (ss2sc) and Vivien Chen (vc2cw) -->

    <!-- External libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-lg">
        <div class=" navbar-collapse">
            <div class="topnav" id="myTopnav">
                <a href="http://localhost:81/cs4640/assimilate/assimilate.php" class="active"><b>Back to Assimilate</b></a>
            </div>
        </div>
    </nav>
    <style>
    .title{
      font-size: 40px;
      font-weight: bold;
    }
    </style>

    <div [class]="['title']">
      CONTACT US
    </div>

    <p [ngStyle]="{'font-weight': 'bold', 'font-size': '25px', 'margin': '20px'}">
        Want to make Assimilate better? <br> Shoot Stephen and Vivien an email if you have any comments, questions, or feedback:
    </p>

    <div [style.margin]="'20px'"> 
        <form #contactForm="ngForm">
            <div class="form-group">
              <label>Name: </label>
              <input required #name="ngModel" 
                     [class.is-invalid]="name.invalid"
                     [(ngModel)]="contactModel.name" type="text" class="form-control" name="name">
            </div>
        
            <div class="form-group">
              <label>Email: </label>
              <input [(ngModel)]="contactModel.email" type="email" class="form-control" name="email">
            </div>
        
            <div class="form-group">
                <label>Subject: </label>
                <select [(ngModel)]="contactModel.messagetype" class="custom-select" name="type">
                <option value="">What kind of message would you like to send? </option>
                <option *ngFor="let type of types">{{type}} </option>
                
              </select>
            </div>
            <div *ngIf="contactModel.messagetype != ''"> 
                <div class="md-form">
                    <textarea name = "message" textarea type="text" id="form7" class="md-textarea form-control" mdbInput></textarea>
                    <label for="form7"></label>
                  </div>
            </div>

            <button class="btn btn-primary" (click)="senddata(contactForm.value)">Send message</button>
          </form>
        
        
    </div>
  
