/* Custom Bootstrap */
.navbar {
    background-color: #000e02;
}

.navbar-brand {
    color: #eeeeee;
}

.nav-link {
    color: #eeeeee;
}

.jumbotron {
    color: #000000;
}

/* Default HTML tags */
img {
    max-width: 100%;
    height: auto;
}