/* Customize Bootstrap */
.navbar {
    background-color: #000e02;
}

.navbar-brand {
    color: #eeeeee;
}

.nav-link {
    color: #eeeeee;
}

.jumbotron {
    color: #000000;
}

/* Built-in HTML tags */
img {
    max-width: 100%;
    height: auto;
}

/* Class tags */
.center-screen {
    position: fixed;
    background-color: #000000;
    color: #ffffff;
    border-radius:25px;
    top: 25%;
    left: 37.5%; 
    display: block;
    padding: 2%;
  }

/* ID tags */